::placeholder {
    color: var(--color-surface-500);
    user-select: none;
}

body {
    background-color: var(--color-surface-200);
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    height: 100svh;
}

.register-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-300);
    border-radius: 10px;
    padding: 10px;
}

.register-container h1 {
    color: var(--color-primary-400);
    font-size: var(--font-size-xxlarge);
    margin: 10px;
    padding: 0px;
}

.register-container a {
    color: var(--color-primary-300);
    text-decoration: none;
    font-size: var(--font-size-medium);
}

.register-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-input-container > input {
    background-color: var(--color-surface-mixed-600);
    color: var(--color-surface-400);
    font-size: var(--font-size-xlarge);
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-surface-200);
}

.register-input-container > input:focus, input:hover {
    outline: none;
    box-shadow: 0 0 10px var(--color-surface-200);
}

#register-error {
    color: var(--color-fail);
    font-size: var(--font-size-small);
    margin: 0 10px;
}

.register-footer {
    color: var(--color-primary-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    text-decoration: underline;
}

#register-button {
    background-color: var(--color-primary-400);
    color: var(--color-surface-200);
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-primary-100);
    cursor: pointer;
    font-size: var(--font-size-large);
}

#register-button:hover {
    box-shadow: 0 0 10px var(--color-primary-100);
}

#username-error {
    color: var(--color-fail);
    font-size: var(--font-size-small);
    margin: 0 10px;
}